/*@media only screen and (min-width: 350px)
{
  --sc_width: 100%;
} */

/* @media only screen and (max-width: 450px) {
  --sc_width: 210px;
} */

:root{
  --sc_width: 210px;
}

@media only screen and (max-width: 400px) {
:root{
    --sc_width: 100%;
  }}




body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.brick { 
  background-color: #666666;
  height: 40px;
  align-content: center;
  width: calc(var(--sc_width, 40px));
  border: solid 2px #333333;
  color: rgb(190, 190, 255);
  padding: 10px 8px;
}
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}


.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 49px;
  font-weight: bold;
  line-height: 70px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: calc( var(--sc_width) / 3 ); 
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  width: var(--width);
  background: linear-gradient(#f99, #ff9, #9f9, #9ff, #99f, #f9f, #f99);
}

.game-info {
  margin-left: 20px;
}
